.btn {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  font-size: $base-font-size;
  margin-bottom: $space;
  cursor: pointer;
  padding: $input-scpacing;
  text-transform: uppercase;
  line-height: 1.2;
}

.btn--link {
  display: inline-block;
  text-decoration: none;
}

.btn--header {
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: underline;
  cursor: pointer;
}

.btn--pill {
  background-color: transparent;
  border: 1px solid $btn-pill-color;
  color: $btn-pill-color;
  padding: .3rem .8rem;
  margin: 0 ($space/2) 0 0;
}

.btn--secondary {
  color: #777777;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
}