//Colors
$grey: #dddddd;
$light-grey: #f9f9f9f9;

//Spacing
$space: 1.4rem;

//Font sizes
$base-font-size: 1.4rem;

//Form inputs
$input-border: $grey;
$input-scpacing: 1rem;

// Boxed -view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

//Button
$button-bg: #5b4681;
$button-color: white;
$btn-pill-color:  #5b4681;

//Item
$item-bg: $light-grey;
$item-text-color: #777777;



